<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1>{{ 'lynx.settings.title' | translate }}</h1>
    </div>
  </div>
  <br>

  <ng-container>
    <div class="row">
      <div class="col-md-6 group" [ngClass]="routeAnimationsElements">
        <h2>{{ 'lynx.settings.location.title' | translate }}</h2>
        <div class="icon-form-field">
          <mat-icon color="accent">
            <fa-icon icon="language" color="accent"></fa-icon>
          </mat-icon>
          <mat-form-field>
            <input matInput placeholder="Location name" name="locname" [(ngModel)]="locationMetadata.LocationName" required>
          </mat-form-field>

        </div>
        <div class="icon-form-field">
          <mat-icon color="accent">
            <fa-icon icon="language" color="accent"></fa-icon>
          </mat-icon>
          <mat-form-field>
            <input matInput placeholder="Phone 1" name="phone1" [(ngModel)]="locationMetadata.Phone1">
          </mat-form-field>

        </div>
        <div class="icon-form-field">
          <mat-icon color="accent">
            <fa-icon icon="language" color="accent"></fa-icon>
          </mat-icon>
          <mat-form-field>
            <input matInput placeholder="Phone 2" name="phone2" [(ngModel)]="locationMetadata.Phone2">
          </mat-form-field>
        </div>
        <div class="icon-form-field">
          <mat-icon color="accent">
            <fa-icon icon="language" color="accent"></fa-icon>
          </mat-icon>
          <mat-form-field>
            <span matPrefix>$ &nbsp;</span>
            <input matInput placeholder="Reading" name="reading" [(ngModel)]="locationMetadata.ReadingFee">
          </mat-form-field>

          <mat-form-field>
            <span matPrefix>$ &nbsp;</span>
            <input matInput placeholder="Math" name="math" [(ngModel)]="locationMetadata.MathFee">
          </mat-form-field>
        </div>
        <button mat-raised-button color="accent" (click) = "updateLocMeta()"> Save </button>
      </div>

      <div class="col-md-6 group" [ngClass]="routeAnimationsElements">
        <h2>{{ 'lynx.settings.address.title' | translate }}</h2>
        <div class="icon-form-field">
          <mat-icon color="accent">
            <fa-icon icon="language" color="accent"></fa-icon>
          </mat-icon>
          <mat-form-field>
            <input matInput placeholder="Address 1" name="address1" [(ngModel)]="address.address1" required>
          </mat-form-field>

        </div>
        <div class="icon-form-field">
          <mat-icon color="accent">
            <fa-icon icon="language" color="accent"></fa-icon>
          </mat-icon>
          <mat-form-field>
            <input matInput placeholder="Address 2" name="address2" [(ngModel)]="address.address2">
          </mat-form-field>

        </div>
        <div class="icon-form-field">
          <mat-icon color="accent">
            <fa-icon icon="language" color="accent"></fa-icon>
          </mat-icon>
          <mat-form-field>
            <input matInput placeholder="City" name="city" [(ngModel)]="address.city">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Zipcode" name="zipcode" [(ngModel)]="address.zipcode">
          </mat-form-field>
        </div>
        <div class="icon-form-field">
          <mat-icon color="accent">
            <fa-icon icon="language" color="accent"></fa-icon>
          </mat-icon>

          <mat-select placeholder="State" name="state" [(ngModel)]="address.state" required>
            <mat-option value="New Jersey">New Jersey</mat-option>
            <mat-option value="New York">New York</mat-option>
          </mat-select>

          <!-- <mat-form-field>
            <input matInput placeholder="State" name="state" [(ngModel)]="address.state">
          </mat-form-field> -->
        </div>
        <div class="icon-form-field">
          <mat-icon color="accent">
            <fa-icon icon="language" color="accent"></fa-icon>
          </mat-icon>
          <mat-select placeholder="Country" name="country" [(ngModel)]="address.country" required>
            <mat-option value="Canada">Canada</mat-option>
            <mat-option value="USA">USA</mat-option>
          </mat-select>

        </div>
        <button mat-raised-button color="accent" (click) = "updateAddress()"> Save </button>
      </div>


    </div>
  </ng-container>

  <!-- Local settings -->
  <ng-container *ngIf="settings$ | async as settings">
    <div class="row">
      <div class="col-md-6 group" [ngClass]="routeAnimationsElements">
        <h2>{{ 'lynx.settings.general.title' | translate }}</h2>
        <div class="icon-form-field">
          <mat-icon color="accent">
            <fa-icon icon="language" color="accent"></fa-icon>
          </mat-icon>
          <mat-form-field>
            <mat-select [placeholder]="'lynx.settings.general.placeholder' | translate" [ngModel]="settings.language"
              (selectionChange)="onLanguageSelect($event)" name="language">
              <mat-option *ngFor="let l of languages" [value]="l.value">
                {{ 'lynx.settings.general.language.' + l.label | translate }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="icon-form-field">
          <mat-icon color="accent">
            <fa-icon icon="bars" color="accent"></fa-icon>
          </mat-icon>
          <mat-placeholder>{{ 'lynx.settings.themes.sticky-header' | translate }}
          </mat-placeholder>
          <mat-slide-toggle [checked]="settings.stickyHeader" (change)="onStickyHeaderToggle($event)">
          </mat-slide-toggle>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 group" [ngClass]="routeAnimationsElements">
        <h2>{{ 'lynx.settings.themes.title' | translate }}</h2>
        <div class="icon-form-field">
          <mat-icon color="accent">
            <fa-icon icon="paint-brush" color="accent"></fa-icon>
          </mat-icon>
          <mat-form-field>
            <mat-select [placeholder]="'lynx.settings.themes.placeholder' | translate" [ngModel]="settings.theme"
              (selectionChange)="onThemeSelect($event)" name="themes">
              <mat-option *ngFor="let t of themes" [value]="t.value">
                {{ 'lynx.settings.themes.' + t.label | translate }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="icon-form-field">
          <mat-icon color="accent">
            <fa-icon icon="lightbulb" color="accent"></fa-icon>
          </mat-icon>
          <mat-placeholder>{{ 'lynx.settings.themes.night-mode' | translate }}
          </mat-placeholder>
          <mat-slide-toggle [checked]="settings.autoNightMode" (change)="onAutoNightModeToggle($event)">
          </mat-slide-toggle>
        </div>
      </div>
      <div class="col-md-6 group" [ngClass]="routeAnimationsElements">
        <h2>{{ 'lynx.settings.animations.title' | translate }}</h2>
        <div class="icon-form-field">
          <mat-icon color="accent">
            <mat-icon color="accent">
              <fa-icon icon="window-maximize"></fa-icon>
            </mat-icon>
          </mat-icon>
          <mat-placeholder>{{ 'lynx.settings.animations.page' | translate }}
          </mat-placeholder>
          <mat-slide-toggle matTooltip="Sorry, this feature is disabled in IE, EDGE and Safari" matTooltipPosition="before"
            *ngIf="settings.pageAnimationsDisabled" disabled>
          </mat-slide-toggle>
          <mat-slide-toggle *ngIf="!settings.pageAnimationsDisabled" [checked]="settings.pageAnimations" (change)="onPageAnimationsToggle($event)">
          </mat-slide-toggle>
        </div>
        <div class="icon-form-field">
          <mat-icon color="accent">
            <fa-icon icon="stream" color="accent"></fa-icon>
          </mat-icon>
          <mat-placeholder>{{ 'lynx.settings.animations.elements' | translate }}
          </mat-placeholder>
          <mat-slide-toggle [checked]="settings.elementsAnimations" (change)="onElementsAnimationsToggle($event)">
          </mat-slide-toggle>
        </div>
      </div>
    </div>
  </ng-container>
</div>