<div class="container">
  <div class="row">


    <div class="title">

      <h1 class="main-heading">{{ 'lynx.students.home.title' | translate }}</h1>

      <span class="spacer"></span>

      <mat-toolbar class="toobar">
        <mat-checkbox class="right-margin" [checked]="activeOnly" (change)="activeOnlyValueChange($event)">
          Active only</mat-checkbox>
      </mat-toolbar>

    </div>


  </div>

  <div class="row">

    <div class="mat-elevation-z8 contents">

      <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
      </mat-form-field>

      <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
        <!-- Checkbox Column -->
        <ng-container matColumnDef="select">
          <th mat-header-cell *matHeaderCellDef>
            <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
              [indeterminate]="selection.hasValue() && !isAllSelected()">
            </mat-checkbox>
          </th>
          <td mat-cell *matCellDef="let row">
            <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)">
            </mat-checkbox>
          </td>
        </ng-container>

        <!-- Position Column -->
        <ng-container matColumnDef="studentid">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Student id </th>
          <td mat-cell *matCellDef="let element"> {{element.studentid}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Student name </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <!-- dob Column -->
        <ng-container matColumnDef="dob">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Date of birth </th>
          <td mat-cell *matCellDef="let element"> {{element.dob | date:'MMM d, yyyy'}} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="subjects">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Subjects </th>
          <td mat-cell *matCellDef="let element"> {{element.subjects}} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="totalfee">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Fee due </th>
          <td mat-cell *matCellDef="let element"> {{element.totalfee}} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="paymentcode">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Family code </th>
          <td mat-cell *matCellDef="let element" (click)="$event.stopPropagation()">
            <ng-container *ngIf="element.paymentcode">{{element.paymentcode }}</ng-container>
            <button *ngIf="!element.paymentcode" mat-stroked-button (click)="generateFamilyCode(element)">Generate</button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)">

        </tr>
      </table>
      <mat-paginator [pageSizeOptions]="[20, 50, 100]" showFirstLastButtons></mat-paginator>

    </div>

  </div>


</div>