<div class="background">
  <div class="gradient">
    <div class="container">
      <h1>{{ 'lynx.title.long' | translate }}</h1>
      <div class="actions">
        <a [ngClass]="routeAnimationsElements" mat-raised-button class="actions-main" color="primary" routerLink="../about">
          {{ 'lynx.menu.features' | translate }}
        </a>
        <a mat-raised-button class="actions-main" color="accent" routerLink="../about" [ngClass]="routeAnimationsElements">
          {{ 'lynx.menu.examples' | translate }}
        </a>
        <a mat-raised-button class="actions-main" color="warn" routerLink="../about" [ngClass]="routeAnimationsElements">
          {{ 'lynx.about.change-theme' | translate }}
        </a>
        <br>
      </div>
      <div class="get-started" [ngClass]="routeAnimationsElements">
        <h2 data-testid='get-started'>{{ 'lynx.about.get-started' | translate }}</h2>
        <code>Sign using your Google or Facebook account and Register</code><br>
        <code>Upload the data</code><br>
        <code>Generate the reports</code><br>
        <code>Send or schedule the notifications</code>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="follow-releases" [ngClass]="routeAnimationsElements">
    <h2>{{ 'lynx.about.get-notified.title' | translate }}</h2>
    <p>
      {{ 'lynx.about.get-notified.follow' | translate }} <a href="https://www.twitter.com/lynxstandard" target="_blank">Release
        update</a>
      {{ 'lynx.about.get-notified.description' | translate }}
    </p>

    <img [src]="releaseButler" alt="Release Butler tweet example">
  </div>
</div>
<div class="container">

</div>
