{% extends "frontlayout.html" %}
{% block content %}

  
<!-- <nav class="navbar navbar-expand-sm bg-light navbar-light fixed-top">
  <a class="navbar-brand" href="#">About</a>
  <form class="float-right">
    <button class="btn btn-outline-primary my-2 my-sm-0 ml-auto" type="submit">Sign up</button>
  </form>
</nav> -->


  	<div class="container-fluid pt-5">
  		<div style="padding:50px 50px 50px 50px">
  		<img src="{{ url_for('static', filename='images/Logo.png') }}" class="img-fluid" alt="Responsive image">
		<form action="/search">
			<div class="row pt-2">
			    <div class="col">
			        <label class="mr-sm-2" for="inlineFormCustomSelect">Domain</label>
                    <select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
                        {% for item in uqdoms %}
                        {% if loop.indexo == 0 %}
                        <option value="{{ item[0] }}" selected>{{ item[1] }} </option>
                        {% else %}
                        <option value="{{ item[0] }}">{{ item[1] }} </option>
                        {% endif %}
                        {% endfor %}
                    </select>
			    </div>
			    <div class="col">
			        <label class="mr-sm-2" for="inlineFormCustomSelect">Benefits</label>
			        <select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
			        <option selected>Choose...</option>
			        <option value="1">One</option>
			        <option value="2">Two</option>
			        <option value="3">Three</option>
			        </select>
			    </div>
		    </div>
		    <div class="row pt-2">
		        <div class="col-sm-12">
                    <table class="table">
                        <tr>
                            <td>
                                <input class="form-control" id="inputAddress" placeholder="1234 Main St">
                            </td>
                            <td>
                                <button type="submit" class="btn btn-info">
                                    <span class="fa fa-search"></span>
                                </button>
                            </td>
                        </tr>
                    </table>
		        </div>
		    </div>
		</form>
		</div>
    </div>

 {% endblock %}
   