.item {
    margin: 10px 0 10px 0;
  
    p {
      padding: 12px 0 0 20px;
    }
  }
  
table {
    width: 100%;
  }  
.mat-form-field {
    font-size: 14px;
    padding-left: 10px;    
    width: 99%;
 }
 th.mat-sort-header-sorted {
    color: black;
  }
.contents{
    margin: auto;
    width: 100%;
}

.spacer{
  flex: 1 1 auto;
}
.title{
  display: flex;
  width: 100%;
  justify-content: space-between ;
}
.toobar{
  background: transparent;
  justify-content: flex-end;
}