table {
    width: 100%;
  }  
.mat-form-field {
    font-size: 14px;
    padding-left: 10px;    
    width: 99%;
 }
 th.mat-sort-header-sorted {
    color: black;
  }
  .container{
      padding-top: 15px;
      margin: auto;
      width: 98%;
  }
  .spacer{
    flex: 1 1 auto;
  }
  .right-margin{
      margin-right: 10px;
  }
  .toobar{
      margin-bottom: 10px;
      background-color: transparent;
  }

  .tabcontent{
      margin-top: 40px;
      margin-left: 16px;

  }
